<h1>My to do list</h1>

<ul>
    <%for(var i = 0; i<myListItems.length; i++) { %>
        <li>
            <button type="button">X</button>
            <%= myListItems[i] %>
        </li>
    <% } %>
</ul>

<form>What should I do 
    <input type="text" name="listItem" />
    <input type="submit" name="confirm" value="Confirm" />
</form>

<script>
    $('button').click(function( {
        
    }));
</script>